altgraph==0.16.1
astroid==2.3.2
autopep8==1.4.4
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.1
future==0.17.1
idna==2.8
IMAPClient==2.1.0
isort==4.3.21
lazy-object-proxy==1.4.2
lxml==4.5.0
macholib==1.11
mccabe==0.6.1
netifaces==0.10.9
numpy==1.16.4
olefile==0.46
pefile==2018.8.8
pep8==1.7.1
pycodestyle==2.5.0
pyftpdlib==1.5.4
PyInstaller==3.4
pylint==2.2.2
PyQt5==5.11.3
PyQt5-sip==4.19.13
pyserial==3.4
python-git==2018.2.1
pywin32-ctypes==0.2.0
requests==2.22.0
Send2Trash==1.5.0
six==1.12.0
typed-ast==1.4.0
urllib3==1.25.8
virtualenv==16.7.4
wrapt==1.11.2
yapf==0.25.0
